body{
  margin:0;
  font-family:Arial;
  background:#eef2ff;
}

.header{
  background:#3f51b5;
  color:white;
  padding:25px;
  text-align:center;
}

.container{
  display:flex;
  padding:30px;
  gap:30px;
}

.form-box,.preview-box{
  background:white;
  padding:25px;
  border-radius:15px;
  box-shadow:0 0 20px rgba(0,0,0,0.15);
  width:50%;
}

h2{
  color:#3f51b5;
}

input,select,textarea{
  width:100%;
  padding:10px;
  margin-bottom:15px;
  border-radius:6px;
  border:1px solid #ccc;
}

textarea{
  height:80px;
}

button{
  width:100%;
  padding:12px;
  background:#3f51b5;
  color:white;
  border:none;
  border-radius:6px;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  background:#283593;
}

.preview-card{
  background:#f5f5f5;
  padding:15px;
  border-radius:10px;
  margin-bottom:15px;
}

.preview-card img{
  width:100%;
  height:150px;
  object-fit:cover;
  border-radius:8px;
}

#status{
  margin-top:10px;
  color:green;
  font-weight:bold;
}
