body{
  margin:0;
  font-family:Arial;
  background:#e8f5e9;
}

.header{
  background:#1b5e20;
  color:white;
  padding:20px;
  text-align:center;
}

.dashboard{
  display:flex;
  padding:30px;
  gap:30px;
}

.form-box, .preview-box{
  background:white;
  padding:25px;
  border-radius:10px;
  box-shadow:0 0 15px rgba(0,0,0,0.15);
  width:50%;
}

h2{
  color:#2e7d32;
}

input, select{
  width:100%;
  padding:10px;
  margin-bottom:15px;
  border-radius:5px;
  border:1px solid #ccc;
}

button{
  background:#2e7d32;
  color:white;
  padding:12px;
  width:100%;
  border:none;
  border-radius:5px;
  font-size:16px;
}

button:hover{
  background:#1b5e20;
}

table{
  width:100%;
  border-collapse:collapse;
}

th{
  background:#2e7d32;
  color:white;
  padding:10px;
}

td{
  padding:8px;
  border-bottom:1px solid #ccc;
}

#status{
  margin-top:15px;
  color:green;
  font-weight:bold;
}
