.parent {
    color: aliceblue;
    text-align: center;
    background-color: rgb(9, 120, 14);
    font-size: 250%;
    padding: 20px;
    border-radius: 10px;
    
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(Nutrition1.jpg);
  padding: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background-color: #0dc6df;
  color: rgb(215, 92, 92);
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;

}

tr:hover {
  background-color: #efd2d2;
  transition: background-color 0.3s ease;
}


td:first-child {
  font-weight: bold;
  color: #f22828;
}
.nutritiontable{
  font-size: 50px;
}


  





