
body{
    margin: 0;
    background-image: url('photo22.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

    
header{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    position: fixed;
    top: 0px;
    justify-content: space-between;
    padding: 1% 0.5%;
    color: aliceblue;
    width: 100%;
    
}

nav a{
    margin: 7px;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: rgba(126, 1, 1, 0.982);
    font-weight: bold;
    
    
}

.login{
    background-color: rgb(49, 144, 146);
    /* padding: 0; */
    top: 0;
    /* margin: 20px 20px; */
    border-radius: 6px;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    color: aliceblue;
    /* align-items: center;  */
    /* align-content: center;  */
}
a:link,a:visited {
        color: #050707;
    }
a:hover{
        color: #d6a62c;
        background-color: dimgrey;
        border-radius: 40px;
        
    }
a:color:active{
        color: #1e6f46;
    }
.gallery{
    display: block;
    top: 30px;
    margin: 0px 0px;
    padding: 20px 20px;
}
.p1{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    font-style: italic;
    color: rgb(2, 2, 80);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 80px;
    padding-bottom: 30px;
     /* margin: 80px 0px; */
     
} 

.p2{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    font-style: italic;
    color: rgb(6, 6, 240);
    padding: 0px 40px;
    align-items: center;
}
.p3{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    font-style: italic;
    color: rgb(2, 2, 80);
    padding: 30px 60px;
}
.p4{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    font-style: italic;
    color: rgb(2, 2, 80);
    padding: 20px 60px;
}
.i1{
    margin: 0px 40px;
    border-radius: 40px;
}
@media (max-width: 500px){
    body {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #222;
    flex-direction: column;
    align-items: center;
    display: none;
}}
.about{
    margin: 1%;
}
.fitnessimage{
    display: flex;
    grid-template-columns: 100px 100px 100px 100px;
    margin: 2%;
    flex-wrap: wrap;
    
}
.fitname{
    
    margin: 0% 1%;
}
.ourfunction{
    margin: 1%;
}
.funhead{
    font-size: 40px;
    font-weight: bold;
    color: rgb(19, 19, 136);
    transition: transform 0.3s ease, 
                background-color 0.3s ease, 
                box-shadow 0.3s ease;

    cursor: pointer;
    
    
}
.fun1title,.fun2title,.fun3title{
    font-weight: bold;
    text-decoration: dotted;
    transition: transform 0.3s ease, 
                background-color 0.3s ease, 
                box-shadow 0.3s ease;

    cursor: pointer;
     margin: 1%;
    font-size: 35px;
    font-style: italic;
   
}
.fun1about,.fun2about,.fun3about{
    margin: 1%;
    font-size: 25px;
    font-style: italic;
    
} 
 .fun1body,.fun2body,.fun3body{
    margin: 1%;
    font-size: 25px;
    font-style: italic;
    
}

/* .funhead,.fun1title,.fun2title,.fun3title,.fun1about,.fun2about,.fun3about,.fun1body,.fun2body,.fun3body{
      transition: transform 0.3s ease, 
                background-color 0.3s ease, 
                box-shadow 0.3s ease;

    cursor: pointer;
    margin: 1%;
    font-size: 25px;
    font-style: italic;
}*/
.funhead :hover,.fun1title :hover,.fun2title :hover,.fun3title :hover{
    transform: scale(1.01);
} 
.fit1,.fit2,.fit3{
    padding: 5px;
    margin: 15px;
     transition: transform 0.3s ease, 
                background-color 0.3s ease, 
                box-shadow 0.3s ease;

    cursor: pointer;
}
.fit1 :hover,.fit2 :hover,.fit3 :hover{
   transform: scale(1.1);
}