body{
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}
header{
    background-color: black;
    color: aliceblue;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color: aliceblue;
    margin: 0px 30px;
    text-decoration: none;
    font-size: 20px;

}
.main{
    background-color: rgb(225, 90, 12);
    padding: 50px;
    text-align: center;
    color: aliceblue;
}
.btn {
    display: inline-block;
    background-color: rgb(7, 94, 94);
    color: aliceblue;
    border-radius: 6px;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 20px;
    margin-top: 30px; 
}
footer{
    color: aliceblue;
    text-align: center;
    background-color: rgb(12, 11, 11);
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
