
  body{
    display: grid;
    margin: o;
    overflow-y: auto;
    font-family: sans-serif;
    font-family: serif;
    background-color: #dcefe8;
    color: #86A6AE;
    background-image: url('photo13.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0; 
    width: 70vw;
    
}

/* .page1{
   
} */
/* .container {
    display: grid;
    margin: 0;
} */
/* .container{} */

.heading{
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 1fr;
    gap: 60px;
}
.logo{
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 0;
    /*background-color: #86A6AE;*/
}
.bar{
    display: flex;
    gap: 20px;
    font-size: 25px;
    color: rgb(96, 2, 2);
    padding: 20px;
    cursor: pointer;
    counter-increment: 100px;
    color: #2E2E2E;
    padding: 5px;
    
}
a:link,a:visited {
        color: #007b7f;
    }
a:hover{
        color: #d6a62c;
    }
a:color:active{
        color: #1e6f46;
    }
.login{
  border: none;
  outline: none;
  background-color: none;
  color: black;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  float: right;
  text-align: right;

}
/* .gallery{
    display: grid;
    grid-template-columns: px;
} */